.github-corner-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  overflow: hidden;
  height: 80px;
  width: 80px;
  pointer-events: none;
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  cursor: pointer;
}

.github-corner svg {
  pointer-events: none;
}

.github-corner path {
  pointer-events: auto;
}

.github-cat {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.github-corner:hover ~ .github-cat .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover ~ .github-cat .octo-arm {
    animation: none;
  }
  .github-cat .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
